<div class="card">
  <div class="card-title text-center">
    <h4 class="mt-3"> User List</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped" *ngIf="userListConfig.fetched">
      <thead>
        <tr >
          <th *ngFor="let config of userTableConfig">{{config.title}}</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userListConfig?.data;">
          <td *ngFor="let config of userTableConfig">
            {{user[config.jsonKey]}}
          </td>
          <td>
            <button class="btn btn-secondary" (click)="editUser(user)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
